name: MA2500

on:
  schedule:
    - cron: '* 0/5 * * * *'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Calculate
        env:
          SCKEY: ${{ secrets.SEND }}
        run: python ./calc.py
